.MuiPickersPopper-root{
    inset: 7px auto auto 75px !important;
}
.MuiInputBase-input:focus{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}
.MuiInputBase-root{
    border-radius: 38px !important;
}