@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 10px;
      height: 4px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #9ca3af;
      border-radius: 100vh;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #4b5563;
    }
  }